bind-address = 0.0.0.0
server-id = 1
log-bin = $(pkg_path_for mysql)/log/bin.log
log-slave-updates
log-bin-index = $(pkg_path_for mysql)/log/log-bin.index
log-error = $(pkg_path_for mysql)/log/error.log
relay-log = $(pkg_path_for mysql)/log/relay.log
relay-log-info-file = $(pkg_path_for mysql)/log/relay-log.info
relay-log-index = $(pkg_path_for mysql)/log/relay-log.index
auto_increment_increment = 10
auto_increment_offset = 1

{{#if svc.me.follower}}
 {{#with svc.leader}}
  master-host = {{ip}}
 {{/with}}
{{/if}}

master-user = replication
master-password = replication
